<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.malvadeza.sandbox">

    <application
        android:name=".SandBoxApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".cardview.recyclerview.RecyclerActivity"
            android:label="@string/title_activity_recycler" />

        <activity
            android:name=".customviews.TallyCounterActivity"
            android:label="@string/title_activity_custom_view" />

        <activity
            android:name=".fragmenttransition.FragmentTransitionActivity"
            android:label="@string/title_activity_fragment_transition" />

        <activity
            android:name=".customviews.TouchViewActivity"
            android:label="@string/title_activity_touch_view" />

        <activity
            android:name=".coordinator.CoordinatorActivity"
            android:label="@string/title_activity_coordinator" />

        <activity
            android:name=".architecturecomponents.ViewModelActivity"
            android:label="@string/title_activity_viewmodel" />

        <activity
            android:name=".animation.AnimationActivity"
            android:label="@string/title_activity_animation" />

        <activity
            android:name=".animation.AnimationTransitionActivity"
            android:label="@string/title_activity_animation_transition"
            android:theme="@style/SuperTransition" />

        <activity
            android:name=".visibility.VisibilityActivity"
            android:label="@string/title_activity_visibility"
            android:theme="@style/SuperTransition" />

        <service
            android:name=".threads.ThreadsService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>