<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.malvadeza.sandbox">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".SandBoxApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main_activity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cursorloadersqlite.CursorLoaderSQLite"
            android:label="@string/title_activity_cursor_loader_sqlite"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".handlers.Handlers"
            android:label="@string/title_activity_handlers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".threads.ThreadsActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".google.GoogleLoginActivity"
            android:label="@string/title_activity_google_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cardview.listview.ListActivity"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cardview.recyclerview.RecyclerActivity"
            android:label="@string/title_activity_recycler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".customviews.TallyCounterActivity"
            android:label="@string/title_activity_custom_view"
            android:theme="@style/AppTheme.CustomView" />

        <activity
            android:name=".fragmenttransition.FragmentTransitionActivity"
            android:label="@string/title_activity_fragment_transition"
            android:theme="@style/AppTheme.CustomView" />

        <activity android:name=".customviews.TouchViewActivity"
            android:label="@string/title_activity_touch_view"
            android:theme="@style/AppTheme.CustomView" />

        <service
            android:name=".threads.ThreadsService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>